---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <h1>Astro</h1>
  <script>
    import { actions } from 'astro:actions';
    console.log(await actions.getGreeting({name: 'World'}));
  </script>
</BaseLayout>
